<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <gazebo reference="castor_link">
    <mu1 value="0.001"/>
    <mu2 value="0.001"/>
  </gazebo>

  <!-- RGBD Camera Sensor (RGB + Depth) -->
  <gazebo reference="camera_link">
    <sensor name="rgbd_camera" type="rgbd_camera">
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>rgbd_camera</topic>
      <gz_frame_id>camera_link_optical</gz_frame_id>
      
      <camera>
        <horizontal_fov>1.047</horizontal_fov>
        
        <image>
          <width>640</width>
          <height>480</height>
          <format>R8G8B8</format>
        </image>
        
        <clip>
          <near>0.1</near>
          <far>10.0</far>
        </clip>
      </camera>
      
    </sensor>
  </gazebo>

  <!-- IMU sensor plugin -->
  <gazebo reference="base_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>1</always_on>
      <update_rate>1</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
    </sensor>
  </gazebo>

  <!-- differential drive plugin -->
  <gazebo>
    <plugin
    filename="gz-sim-diff-drive-system"
    name="gz::sim::systems::DiffDrive">
    <left_joint>left_wheel_joint</left_joint>
    <right_joint>right_wheel_joint</right_joint>
    <wheel_separation>0.45</wheel_separation>
    <wheel_radius>0.12</wheel_radius>
    <odom_publish_frequency>30</odom_publish_frequency>
    <topic>cmd_vel</topic>
    <frame_id>odom</frame_id>
    <child_frame_id>base_footprint_link</child_frame_id>
    <tf_topic>/model/T2D2/tf</tf_topic>
    <publish_odom>true</publish_odom>
    <publish_odom_tf>true</publish_odom_tf>
    <publish_wheel_tf>false</publish_wheel_tf>
    </plugin> 
  </gazebo>


  <!-- joint state publisher plugin -->
  <gazebo>
    <plugin
        filename="gz-sim-joint-state-publisher-system"
        name="gz::sim::systems::JointStatePublisher">
        <topic>/model/T2D2/joint_state</topic> 
        <joint_name>left_wheel_joint</joint_name>
        <joint_name>right_wheel_joint</joint_name>
    </plugin>
  </gazebo>

</robot>